@import "tailwindcss";

@theme {
  --animate-spin-reverse: spin-reverse 1s linear infinite;
  --animate-fade-in: fade-in 0.5s ease-out forwards;
  --animate-fade-in-up: fade-in-up 0.8s ease-out forwards;

  @keyframes spin-reverse {
    from {
      transform: rotate(360deg);
    }
    to {
      transform: rotate(0deg);
    }
  }

  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes fade-in-up {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}